.suggestion-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  color: #fff;
  border: solid rgba(133, 0, 133, 0.253);
  border-width: 1px 0 1px 0;
  width: 95%;
}

.suggestion-row > div > img {
  height: 40px;
  width: 40px;
}

.suggestion-row:hover {
  cursor: pointer;
  background-color: rgb(11, 0, 39);
  opacity: 0.8;
}

.suggestion-info {
  margin-left: 24px;
}

.suggestion-info > h1 {
  font-size: 16px;
  margin: 2px;
}
