.dashboard-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.dashboard-info > img {
  height: 18vw;
  margin: 0 20px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.452);
}

.dashboard-text {
  flex: 1;
}

.dashboard-text > h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.dashboard-text > p {
  font-size: 18px;
}
