/* get rid of some default items for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* get rid of some default items for firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.profile-container {
  flex-direction: column;
}

.profile-sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

#profile-settings-avatar {
  width: 20vw;
  max-width: 250px;
  height: auto;
  margin: 12px;
}

#avatar-info-container p{
  padding-top: 1vh;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.curator-info {
  display: flex;
  align-items: center;
}

.slider-info {
  justify-content: space-around;
  width: 60%;
}

#curator-settings-container {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}

@media (max-width: 700px) {
  #curator-settings-container {
    width: 35vw;
  }
}

#curator-settings-container input[type=number] {
  border-radius: 34px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  color: #f516e2;
  background: hsla(266, 86%, 58%, 0.527);
  outline: none;
  text-align: center;
  border: none;
}
