/* get rid of some default items for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* get rid of some default items for firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.profile-container {
  flex-direction: column;
}

.profile-sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

#profile-settings-avatar {
  width: 20vw;
  max-width: 250px;
  height: auto;
  margin: 12px;
}

#avatar-info-container p{
  padding-top: 1vh;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.profile-info-icon {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  padding: 4px;
  display: flex;
  cursor: pointer;
  margin-right: 2px;
}

.profile-info-icon:hover {
  background: rgba(247, 0, 255, 0.664);
  border-radius: 24px;
}

.info-box{
  justify-content: space-between;
  padding-bottom: 12px;
}

.curator-info {
  display: flex;
  align-items: center;
}

.slider-info {
  justify-content: space-around;
  width: 30%;
}

#curator-settings-container {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}

@media (max-width: 700px) {
  #curator-settings-container {
    width: 35vw;
  }
}

#curator-settings-container input[type=number] {
  border-radius: 34px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  color: #f516e2;
  background: hsla(266, 86%, 58%, 0.527);
  outline: none;
  text-align: center;
  border: none;
}

/* Responsive Media Queries */

@media only screen and (min-width: 1024px) {
  .profile-sliders {
    width: 200%;
  }

  #curator-settings-container {
    width: 100%;
  }
}

/* Larger Devices (Desktops, Laptops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .profile-sliders {
    width: 200%;
  }

  #curator-settings-container {
    width: 100%;
  }

  .profile-container > h2 {
    font-size: 14px;
    text-align: center;
  }
}

/* Small Devices (Phones, Tablets) */
@media only screen and (min-width: 280px) and (max-width: 767px) {

  .profile-sliders {
    width: 200%;
  }

  .profile-container h4 {
    font-size: 12px;
  }

  #profile-settings-avatar {
    display: none;
  }

  #avatar-info-container p{
    padding-top: .5vh;
    font-size: 14px;
  }

  .curator-info {
    display: flex;
    align-items: center;
  }

  .slider-info {
    justify-content: space-around;
    width: 100%;
  }

  #curator-settings-container {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
  }

}

/* Larger Phones and Tablets (Landscape) */
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (orientation: landscape) {

}

/* XS / Smaller Phones (Landscape) */
@media only screen and (min-device-width: 360px) and (max-device-width: 768px) and (orientation: landscape) {

}
