.AppContainer-container {
  display: flex;
  flex-direction: column;
}

.AppContainer {
  display: flex;
  flex-grow: 1;
}

.Content-container {
  padding: 30px;
  width: 100%;
  height: 105vh;
  overflow-y: overlay;
  align-items: right;
  color: #fff;
  background: linear-gradient(#552dc4, #1b0a35);
}
