.MuiGridListTile-tile {
  border-radius: 50px;
  margin: 50px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.342);
}

.MuiGridListTile-root {
  padding: 10px;
  margin-bottom: 10px;
}

.MuiGridListTile-imgFullWidth {
  cursor: pointer;
}
