.playlist-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.playlist-container {
  background: linear-gradient(#540b91, #150230);
  border: 1px solid #000;
  border-radius: 10px;
  width: 50%;
  margin: 12px;
  min-height: 90vh;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 18px;
  box-shadow: 0px 0px 24px rgba(234, 0, 255, 0.466);
}

.playlist-container h1 {
  justify-content: center;
}

.playlist-info > img {
  height: 16vw;
  max-width: 23vw;
  margin: 0 20px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.342);
}

.playlist-text {
  margin-top: 20px;
  flex: 1;
}

.playlist-text > h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.playlist-text > p {
  font-size: 18px;
}

.left-header {
  min-width: 81px;
  background-color: #fff;
  color: #6F6C99;
}

.back-button {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
  margin-left: 26px;
  transition: 0.2s linear;
}

.back-button:hover {
  background: rgba(247, 0, 255, 0.664);
  border-radius: 24px;
}

.profile-name {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
  transition: 0.2s linear;
}

.profile-name:hover {
  background: rgba(247, 0, 255, 0.664);
}


.play-playlist {
  font-size: 72px !important;  margin-top: 20px;
}

.play-playlist:hover {
  transition: 0.24s transform ease-in;
  transform: scale(1.1);
}

/* Responsive Media Queries */

@media only screen and (min-width: 1024px) and (max-width: 1024px){
  .collaborate-container {
    flex-direction: column;
  }

  .playlist-container {
    width: 100%;
    margin: 4px;
    padding: 8px;
  }
}

/* Larger Devices (Desktops, Laptops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .collaborate-container {
    flex-direction: column;
  }

  .playlist-container {
    width: 100%;
    margin: 4px;
    padding: 8px;
  }
}

/* Small Devices (Phones, Tablets) */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .playlist-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .playlist-container {
    width: 100%;
    margin: 4px;
    padding: 8px;
  }
  
  .playlist-container h1 {
    justify-content: center;
    font-size: 12px;
  }
  
  .playlist-info > img {
    height: 30vw;
    max-width: 32vw;
    margin: 0 10px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.342);
  }
  
  .playlist-text {
    margin-top: 20px;
    flex: 1;
  }
  
  .playlist-text > h2 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .playlist-text > p {
    font-size: 12px;
  }
  
  .back-button {
    margin-left: 0;
  }
   
  .play-playlist {
    font-size: 32px !important;  margin-top: 10px;
  }

  .profile-name > strong{
    font-size: 12px;
  }
}

/* Larger Phones and Tablets (Landscape) */
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (orientation: landscape) {

}

/* XS / Smaller Phones (Landscape) */
@media only screen and (min-device-width: 360px) and (max-device-width: 768px) and (orientation: landscape) {

}
