.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 24px;
  height: 75px;
  width: 100%;
  background-color: #2d184e;
}

.album-desc {
  display: flex;
  align-items: center;
  flex: 0.3;
  width: 300px;
  max-width: 400px;
  color: #bcbada;
}

.album-desc > img {
  height: 100%;
  width: 100px;
  margin-right: 15px;
  object-fit: contain;
}

.song-info > h4 {
  margin-bottom: 5px;
}

.song-info > p {
  font-size: 12px;
}

.outer-control-icon {
  color: #6F6C99;
}

.outer-control-icon:hover,
.control-icon:hover {
  transition: transform 0.24s ease-in-out;
  transform: scale(1.1) !important;
  color: #ff00ff;
}

.playback-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.4;
  max-width: 300px;
  padding: 0 100px;
  color: #e8d3ee;
}

.volume-control {
  display: flex;
  align-items: center;
  flex: 0.3;
  width: 300px;
  max-width: 350px;
  color: #bcbada;
}

#volume {
  width: 60%;
  color: #cc00cc;
}
