.collaborate-container {
  display: flex;
  justify-content: space-between;
}

/* Responsive Media Queries */

@media only screen and (min-width: 1024px) {

}

/* Larger Devices (Desktops, Laptops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Small Devices (Phones, Tablets) */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .collaborate-container {
    flex-direction: column;
  }
}

/* Larger Phones and Tablets (Landscape) */
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (orientation: landscape) {

}

/* XS / Smaller Phones (Landscape) */
@media only screen and (min-device-width: 360px) and (max-device-width: 768px) and (orientation: landscape) {

}
