.sidebar {
  color: #fff;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  padding: 0 10px 10px 0;
  min-width: 230px;
  max-width: 270px;
  background-color: #1a1741;
  height: 110vh;
}

.sidebar > hr {
  border: 1px solid #cc00cc50;
  width: 100%;
  margin: 10px 4px;
}

.sidebar > p {
  margin: 10px 20px;
  font-size: 14px;
}

.sidebar-logo {
  width: 25%;
}

.sidebar-playlists {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  height: 60%;
}

::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cc00cc50;
  border-radius: 18px;
}

.sidebar-plist-title {
  color: #b1afc9;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: left;
  margin-left: 20px;
  margin-top: 20px;
}

/* Responsive Media Queries */

@media only screen and (min-width: 1024px) {

}

/* Larger Devices (Desktops, Laptops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Small Devices (Phones, Tablets) */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .sidebar {
    flex: 0.05;
    padding: 0 5px 5px 0;
    min-width: 120px;
    max-width: 150px;
  }

  .sidebar-title h1 {
    display: none;
  }

  .sidebar > p {
    margin: 2px 5px;
    font-size: 9px;
  }
  
  .sidebar-logo {
    width: 90%;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  .sidebar-plist-title {
    font-size: 10px;
    margin-left: 8px;
    margin-top: 8px;
  }
}

/* Larger Phones and Tablets (Landscape) */
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (orientation: landscape) {

}

/* XS / Smaller Phones (Landscape) */
@media only screen and (min-device-width: 360px) and (max-device-width: 768px) and (orientation: landscape) {

}
