.sidebar {
  height: 100vh;
  flex: 0.2;
  color: #fff;
  padding: 0 10px 10px 0;
  min-width: 250px;
  background-color: #1a1741;
}

.sidebar-logo {
  width: 25%;
}

.sidebar-plist-title {
  color: #b1afc9;
  font-size: 24px;
  justify-content: left;
  margin-left: 25px;
  margin-top: 20px;
}

hr {
  border: 1px solid #fafafa75;
  width: 90%;
  margin: 10px auto;
}

p {
  margin: 10px 20px;
  font-size: 14px;
}
