.option {
  color: #6F6C99;
  height: 40px;
  cursor: pointer;
  transition: 0.24s color ease-in;
  justify-content: left;
  margin-left: 25px;
  font-size: 18px;
}

.option:hover {
  color: #53B9EA;
}

.option-link {
  text-decoration: none;
}
