.header {
  display: flex;
  justify-content: space-between;
  margin: 18px;
}

.right-header {
  min-width: 81px;
}

.notification-bell {
  margin-right: 18px;
  cursor: pointer;
}

.noti-header {
  padding: 6px;
  justify-content: space-between;
  margin: 3px;
}

.notification-container {
  max-height: 200px;
}

.info-icon {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  padding: 4px;
  display: flex;
  cursor: pointer;
  margin-left: 10px;
}

.info-icon:hover {
  background: rgba(247, 0, 255, 0.664);
  border-radius: 24px;
}

.info-box {
  justify-content: space-between;
  padding-bottom: 12px;
}

/* Responsive Media Queries */

@media only screen and (min-width: 1024px) {

}

/* Larger Devices (Desktops, Laptops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Small Devices (Phones, Tablets) */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .header {
    margin: 12px;
  }
  
  .header h1 {
    display: none;
  }

  .info-icon > .MuiSvgIcon-root {
    display: none;
  }

  .info-icon {
    padding: 0;
  }

  .right-header {
    min-width: 50px;
  }

  h3 {
    font-size: 16px;
  }
}

/* Larger Phones and Tablets (Landscape) */
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (orientation: landscape) {

}

/* XS / Smaller Phones (Landscape) */
@media only screen and (min-device-width: 360px) and (max-device-width: 768px) and (orientation: landscape) {

}
