.login-page {
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #1f1f4d;
}

.title {
  justify-content: center;
  padding: 10px;
}

.title > img {
  width: 12%;
}

.title > h1 {
  color: #fff;
  font-weight: 100;
  font-size: 96px;
}

.login-page > a {
  margin: 20px;
  padding: 20px 26px;
  border-radius: 50px;
  background-color: #5B5A99;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.login-page h2 {
  margin: 15px;
  color: #c1c0ee81;
  font-weight: 100;
}

/* Responsive Media Queries */

/* Larger Devices (Desktops, Laptops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .title > img {
    width: 15%;
  }
  
  .title > h1 {
    font-size: 72px;
  }
  
  .login-page > a {
    margin: 18px;
    padding: 18px 24px;
    font-size: 20px;
  }
  
  .login-page h2 {
    font-size: 24px;
  }
}

/* Small Devices (Phones, Tablets) */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .title > img {
    width: 15%;
  }
  
  .title > h1 {
    font-size: 48px;
  }
  
  .login-page > a {
    margin: 12px;
    padding: 12px 18px;
    font-size: 14px;
  }
  
  .login-page h2 {
    font-size: 14px;
  }
}

/* Larger Phones and Tablets (Landscape) */
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (orientation: landscape) {
  .title > img {
    width: 12%;
  }
  .title > h1 {
    font-size: 60px;
  }
  
  .login-page > a {
    margin: 12px;
    padding: 12px 18px;
    font-size: 18px;
  }
  
  .login-page h2 {
    font-size: 18px;
  }
}
