.suggestion-box {
  height: max-content;
}

.refresh-icon {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
  padding: 8px;
}

.refresh-icon:hover {
  background: rgba(247, 0, 255, 0.664);
  border-radius: 24px;
}