.suggestion-box {
  height: max-content;
}

.icons {
  justify-content: space-between;
  display: flex;
}

.refresh-icon {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
  padding: 4px;
}

.refresh-icon:hover {
  background: rgba(247, 0, 255, 0.664);
  border-radius: 24px;
}

.suggestions-info-icon {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  padding: 4px;
  cursor: pointer;
}

.info-icon:hover {
  background: rgba(247, 0, 255, 0.664);
  border-radius: 24px;
}

.info-box {
  justify-content: space-between;
  padding-bottom: 12px;
}

/* Responsive Media Queries */

@media only screen and (min-width: 1024px) {

}

/* Larger Devices (Desktops, Laptops) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Small Devices (Phones, Tablets) */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .suggestion-box h3 {
    font-size: 12px;
  }
  
  .refresh-icon > .MuiSvgIcon-root {
    font-size: 1rem;
  }
}

/* Larger Phones and Tablets (Landscape) */
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (orientation: landscape) {

}

/* XS / Smaller Phones (Landscape) */
@media only screen and (min-device-width: 360px) and (max-device-width: 768px) and (orientation: landscape) {

}
