.search-container {
  justify-content: space-around;
}

.search-text-field {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 5px;
}

.search-clear {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  width: fit-content;
  padding: 18px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s linear;
}

.search-clear:hover {
  background: rgba(247, 0, 255, 0.664);
}

.search-icon {
  cursor: pointer;
}

.song-search-back-button {
  background: rgba(38, 1, 63, 0.63);
  border-radius: 12px;
  width: fit-content;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s linear;
}

.song-search-back-button:hover {
  background: rgba(247, 0, 255, 0.664);
}
